<IfModule mod_deflate.c>
<FilesMatch "\\.(html|css|js|xml|php|txt)$">
SetOutputFilter DEFLATE
</FilesMatch>
</IfModule>

mod_gzip_on Yes

# Caching einrichten

FileETag MTime Size

ExpiresActive On
ExpiresDefault "access plus 1 year"

Header append Cache-Control "public"