body { padding-top: 51px; }

.carousel {
  height: 300px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 300px;
  background-color: #777;
}
.carousel-inner > .item > img {
  height: 300px;
  display: block;
    margin-left: auto;
    margin-right: auto
}

.skg-navbar-no-margin {
  margin-bottom: 0px;
}

/*
img.skg-carousel {
  opacity:0.2;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}
*/